.loader {
	text-align: center;
}

.loader h2 {
	display: inline-block;
}

.theme-dark {
	color: #fff;
}

.loader::after {
	content: '\2026';
	display: inline-block;
	font-size: 2rem;
	vertical-align: bottom;
	overflow: hidden;
	width: 0;
	color: inherit;
	animation: dots steps(5, end) 3s infinite;
}
