nav {
	height: 50px;
	font-size: 1.2rem;
}

.row {
	display: flex;
	flex-direction: row;
}

.space-between {
	justify-content: space-between;
	align-items: center;
}

.nav li {
	margin-right: 10px;
}

.navbar-light {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.navbar-dark {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.selected {
	font-weight: bold;
	color: #bb2e1f;
	text-decoration: none;
}
